<div class="about d-flex justify-content-center align-items-center">
  <div class="content text-center text-white">
      <h2 class="mb-3 fs-1 fw-bolder">ABOUT COMPONENT</h2>
      <div class=" mb-3 d-flex justify-content-center align-items-center">
        <div class="line "></div>
        <i class="fa-solid fa-star mx-3 "></i>
        <div class="line "></div>
      </div>
      <div class="container text-start">
        <div class="row px-5">
          <div class="col-md-6 ps-5 ">
            <p>Freelancer is a free bootstrap theme created by Route.
              The download includes the complete source files including HTML,
              CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
          </p>
          </div>
          <div class="col-md-6 ps-5">
            <p>Freelancer is a free bootstrap theme created by Route.
              The download includes the complete source files including HTML,
              CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
          </p>
          </div>
        </div>
      </div>
  </div>
</div>