
<nav #navbar id="nav" [class]=" flag ? 'navbar navbar-expand-lg fixed-top' : 'navbar navbar-expand-lg fixed-top py-4'">
  <div class="container">
    <a class="navbar-brand text-white fs-2 fw-bolder" routerLink="startFramwork" href="#">START FRAMEWORK</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- x -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white " routerLinkActive="active" routerLink="about" href="#">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLinkActive="active" routerLink="portfolio" href="#">portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLinkActive="active" routerLink="contact" href="#">contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>