
.navbar{
  background-color: #2c3e50;
  transition: all 0.5s;
}

.navbar ul li {
  margin-right: 16px;
}

.navbar ul a{
  text-transform: uppercase;
  font-weight: bold;
  /* color: white;  */

}

@media only screen and (max-width: 992px) {
  .navbar ul a {
      padding: 8px;
      margin-top: 16px;
  }
}

.active{
  border-radius: 8px ;
  background-color: #1abc9c;
}