<div class="home d-flex justify-content-center align-items-center">
  <div class="content text-center text-white">
    <img src="assets/images/home/avataaars.svg" class="mb-3" alt="" srcset="">
    <div class="pt-4">
      <h2 class="mb-3 fs-1 fw-bolder">START FRAMEWORK</h2>
      <div class=" mb-3 d-flex justify-content-center align-items-center">
        <div class="line "></div>
        <i class="fa-solid fa-star mx-3 "></i>
        <div class="line "></div>
      </div>
    </div>
    <p>Graphic Artist - Web Designer - Illustrator</p>
  </div>
</div>